# Database Configuration
DATABASE_URL="postgresql://usuario:clave@localhost:5432/DBpasantias_sm_vc?schema=public"

# JWT Configuration
JWT_SECRET="SENTINNEL-UNE-SUPER-SECRET-KEY-2026-VICTOR-SANTIAGO-PASSWORD-CHANGE-IN-PRODUCTION"
JWT_EXPIRES_IN="24h"

# Application Configuration
PORT=3000
NODE_ENV="development"

# CORS Configuration (Frontend URL)
FRONTEND_URL="http://localhost:9000"
